<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PostProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PostProcessor.Properties.Settings>
            <setting name="SendToUSB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USBLabel" serializeAs="String">
                <value>CNC_USB</value>
            </setting>
            <setting name="AssosiateFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="WatchDirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ControlVC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WathDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SourceMatherial" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentMatherial" serializeAs="String">
                <value />
            </setting>
            <setting name="ClearUSB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProgramId" serializeAs="String">
                <value>PostProcessor</value>
            </setting>
            <setting name="GotoXYZ" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileExtension" serializeAs="String">
                <value>U00</value>
            </setting>
            <setting name="OnFileDetectedAction" serializeAs="String">
                <value />
            </setting>
            <setting name="XEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XEndMax" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="YEndMax" serializeAs="String">
                <value>1300</value>
            </setting>
            <setting name="ZEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZEndMax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="StayInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInstrumentsSequence" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnProgramErrorAction" serializeAs="String">
                <value>Ask</value>
            </setting>
        </PostProcessor.Properties.Settings>
    </userSettings>
</configuration>